<!DOCTYPE html>
<html>
  <head>
    <title>Meu primeiro projeto Ruby on Rails !!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <button type="button" class="btn btn-primary">Primary</button>
  <body>
  <div class="container"><%= yield %></div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      </ul>
      </div>
    </div>
  </div>

  <footer>
  </footer>
  </body>
</html>
